<footer class="container-fluid px-0">
  <div class="row no-gutters g-min-height-80vh">
    <!-- Footer Content -->
    <div class="col-lg d-flex g-bg-black-opacity-0_9 g-color-white-opacity-0_8">
      <div class="align-self-center g-pa-60 footer-content">
        <div class="u-heading-v2-2--bottom g-brd-primary g-mb-30">
          <h2 class="u-heading-v2__title h1 g-color-white text-uppercase g-font-weight-200"></h2>
        </div>

        <div class="lead g-font-weight-200 g-mb-40">
          <p></p>
        </div>

        <address class="text-uppercase display-6">
          <ul class="mb-0">
            <li class="d-flex align-items-baseline g-mb-10">
              <i class="fa fa-map-marker g-color-primary g-mr-10"></i>
              <p>Address:
                <span class="g-color-white">Чуй 52, Бишкек, Киргизия</span>
              </p>
            </li>
            <li class="d-flex align-items-baseline g-mb-10">
              <i class="fa fa-phone g-color-primary g-mr-10"></i>
              <p>Phone Number:
                <span class="g-color-white">+996-555-555-555</span>
              </p>
            </li>
            <li class="d-flex align-items-baseline g-mb-10">
              <i class="fa fa-envelope g-color-primary g-mr-10"></i>
              <p>Email:
                <a class="g-color-white" href="mailto:inof@htmlstream.com">inof@htmlstream.com</a>
              </p>
            </li>
            <li class="d-flex align-items-baseline">
              <i class="fa fa-phone-square g-color-primary g-mr-10"></i>
              <p>Tall Free:
                <span class="g-color-white">+996-555-555-555</span>
              </p>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <!-- End Footer Content -->

    <!-- Google Map -->
    <div class="col-lg g-min-height-400">
      <div id="gMap4" class="js-g-map h-100" data-type="custom" data-lat="40.674" data-lng="-73.946" data-zoom="12" data-title="Travel" data-styles="[

               ['', '', [{'saturation':-100},{'lightness':51},{'visibility':'simplified'}]],

               ['', 'labels', [{'visibility':'on'}]],

               ['water', '', [{'color':'#bac6cb'}]]

             ]" data-pin="true" data-pin-icon="../../../assets/img/icons/pin/green.png"><div style="height: 100%; width: 100%;"><div style="overflow: hidden;"></div></div></div>
    </div>
    <!-- End Google Map -->
  </div>
</footer>