{% load static %}
{% include '../header.html' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<h1>Название - {{ sport_id.name}}</h1>
<p>Почта Продавца - {{ sport_id.email}}</p>
<img src="{{ sport_id.photo.url}}" width="350" height="250">
<p>О товаре - {{ sport_id.about_product }}</p>
<data>Дата создания поста - {{ sport_id.creater_at }}</data>

<ul>
    {% for i in sport_id.reviews_sport.all %}

    <li>
        <h1>{{ i.stars }}</h1>
        <p>{{ i.text }}</p>
        <p>{{ i.created_at }}</p>
    </li>

    {% endfor %}
</ul>

<h2>Review List Form</h2>
    <form method="post" action="{% url 'review_list' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

{% include '../footer.html' %}